@import "main.scss";

.AdminController {
  background-color: $white;
  height: 100%;
  width: 100%;
}

form {
  text-align: center;
}

input[type='text'], input[type='password'] {
  width: 80%;
  font-size: 15px;
  padding: 4px;
  border: 2px solid #9C27B0;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
}

input[type='submit'] {
  color: white;
  outline: none;
  background-color: #9C27B0;
  border: 2px solid #9C27B0;
  border-radius: 5px;
  width: 80%;
  padding: 4px;
  font-size: 15px;
}

.field {
  padding: 5px;
  font-family: "Inconsolata", sans-serif;
}

textarea {
  width: 80%;
  font-size: 15px;
  padding: 4px;
  border: 2px solid #9C27B0;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
  resize: none;
}
