@import "main.scss";

#content_container {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
}

.content_gradient_header {
  height: 10px;
}

.content {
  background-color: #EEEEEE;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

li {
  margin-left: 20px;
}

.post_date {
  margin-bottom: 10px;
  border-bottom: 1px groove;
  font-size: 17px;
}

.post_header {
  font-weight: bold;
  font-size: 18px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

pre {
  overflow-y: scroll;
}

p {
  margin-bottom: 10px;
}
