@import "main.scss";

#header {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 44px;
  margin: 0;
  padding: 0;
  height: 180px;
  text-align: center;
  background-color: #34495e;
}

#header_content {
  display: inline-block;
  margin-top: 40px;

}

#sub_content_bar {
  margin-top: 10px;
}

#sub_content_bar .sub_content {
  margin: 15px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  transition-duration: 0.02s;
  transform: scale(1.02);
  cursor: pointer;
}
