@import "main.scss";

#header {
  font-size: 44px;
  margin: 0;
  padding: 0;
  height: 180px;
  text-align: center;
  background-color: #9C27B0;
}

#header_content {
  display: inline-block;
  margin-top: 32px;
  color: white;
}

#sub_content_bar {
  margin-top: 10px;
}

#sub_content_bar .sub_content {
  margin: 15px;
  font-size: 25px;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  transition-duration: 0.02s;
  transform: scale(1.02);
  cursor: pointer;
}

hr {
  height: .25rem;
  background: #FF4081;
  border: none;
  transition: .3s ease-in-out;
  position: absolute;
  right: 0;
}
