@import "main.scss";

#header {
  font-size: 44px;
  margin: 0;
  padding: 0;
  height: 180px;
  text-align: center;
  background-color: #9C27B0;
}

#header_content {
  display: inline-block;
  margin-top: 40px;
  color: white;
}

#sub_content_bar {
  margin-top: 10px;
}

#sub_content_bar .sub_content {
  margin: 15px;
  font-size: 25px;
  color: white;
}

#sub_content_bar .sub_content:hover {
  transition-duration: 0.02s;
  transform: scale(1.02);
}

a {
  text-decoration: none;
}

a:hover {
  transition-duration: 0.02s;
  transform: scale(1.02);
  cursor: pointer;
}

.one:hover ~ hr {
  margin-left: 274px;
  width: 51.31px;
}

.two:hover ~ hr {
  margin-left: 355px;
  width: 70.41px;
}

.three:hover ~ hr {
  margin-left: 455.5px;
  width: 76.05px;
}

hr {
  height: .25rem;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}
