@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');
$dark_blue: #0F144B;
$turquoise: #5FFAEB;
$pink: #FF9196;
$white: #FFFFFF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#react_main_container {
  display:block;
  overflow:auto;
}

.BlogController {
  font-family: 'Muli', sans-serif;
  height: 100%;
  display: block;
  overflow: auto;
}

.AboutController {
  font-family: 'Muli', sans-serif;
  height: 100%;
  display: block;
  overflow: auto;
}
